.services {

  @media (max-width: 1024px) and (min-width: 768px) {
    &__wrapper {
      padding-top: 260px;
    }
  }

  @media (max-width: 375px) {
    &__title {
      font-size: $font-xl;
      line-height: 37px;
    }
  }
}