.banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../assets/img/banner-symbol.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  h1 {
    font-size: $font-xxl;
    color: $white-color;
    font-weight: $font-w-bold;
    line-height: 47px;
  }

  &__scroll {
    position: absolute;
    content: '';
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
}