.team {

  &__title h1 {
    @extend %title-red-lg;
    margin-bottom: 30px;
    padding:  0 120px;
  }

  &__item {
    &-description {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
    }

    &-image {
      width: 100%;
      height: 100%;

      img {
        border-radius: $border-radius;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-arrow:hover {
      path {
        stroke: $accent-color;
      }
    }

    &-image-title {
      font-size: $font-sm;
      font-weight: $font-w-bold;
      color: $main-color;
      line-height: 20px;
      margin-bottom: 5px;

      &:hover {
        @extend %subtitle-hover;
      }
    }

    &-image-work-status {
      font-size: $font-xs;
      color: $gray-text-color;
      line-height: 22px;
    }
  }
}