.demo-publication-entry-page {
  margin-bottom: 60px;

  p, h6 {
    margin-bottom: 30px;
  }

  span, p {
    font-size: $font-sm;
    color: $black-color;
    line-height: 26px;
  }

  &__main-image {
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: $border-radius;
    margin-bottom: 30px;
  }

  .bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-content {
    background-image: url("../assets/img/publication-entry-page-cover.png");
  }

  &__img-subtitle h3 {
    font-size: $font-xl;
    font-weight: $font-w-bold;
    color: $main-color;
    line-height: 37px;
    margin-bottom: 15px;
  }

  &__img-date h4 {
    @extend %text-date;
    margin-bottom: 30px;
  }

  &__img-description p:first-child {
    padding-top: 30px;
    border-top: 4px $gray-separator-color solid;
  }

  .bottom-line {
    padding-bottom: 30px;
    border-bottom: 4px $gray-separator-color solid;
  }

  &__description {
    img {
      width: 50%;
    }

    h6 {
      padding-top: 15px;
      font-size: $font-xs;
      color: $gray-text-color;
      line-height: 22px;
    }
  }

  &__title h2 {
    @extend %title-red-lg;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: $font-lg;
    font-weight: $font-w-bold;
    color: $main-color;
    line-height: 27px;
    margin-bottom: 15px;
  }

  li {
    color: $accent-color;
    font-weight: $font-w-bold;

    span {
      font-weight: $font-w-normal;
    }
  }

  &__social-images-item a {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    z-index: 1;
    width: 42px;
    height: 42px;
    background-color: $bg-color;
    border-radius: $border-radius;

    svg {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      z-index: -1;
    }
  }

  &__social-images {
    gap: 10px;
  }
}